 /* Style the list */
ul.breadcrumbs {
    padding: 10px 16px;
    list-style: none;
/*     background-color: #eee; */
    background-color: #ffffff;
}

/* Display list items side by side */
ul.breadcrumbs li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumbs li+li:before {
    padding: 8px;
    color: black;
    content: "\203a";
}

/* Add a color to all links inside the list */
ul.breadcrumbs li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumbs li a:hover {
    color: #01447e;
    text-decoration: underline;
} 